body {
    background-color: white;
    color: black;
    font-size: 1rem;
}

.card {
    display: inline-block;
    background-color: #ffffdd;
    color: #222222;
    font-family: monospace;
    border: 1px solid #ddddee;
    box-shadow: 2px 4px 20px gray;
    margin: 15px 8px;
    padding: 10px;
    transform: rotate(0.25deg)
}

.label-text {
    display: inline;
    font-weight: bold;
}

.date-text {
    display: inline;
    font-size: 1.25rem;
}

.card img {
    border: 1px solid gray;
    margin: 5px;
    justify-content: right;
}

/*
Sample card 

     ^
     |
     |
     |
DATE o Title                |¯¯¯¯¯¯|
     | Author(s)            | Pic. |  
     | Media type           |______|   
     |
     | Description Description Description Description
     | Description Description Description Description
     | Description Description Description Description
     |
     | ISBN/ID & Edition
     | Publication
     |
     v

Each entry is surrounded by a thin, dark border and has a shallow drop shadow, as if it were a physical card.
The cards are slightly tilted and have an aged appearance: off-white with gray text.
There is a small vertical margin between each card.
The pic is a preview image of the document and is no taller than the first three lines.

On click, the user is taken to the document.
On hover, the card moves slightly.
*/